# Notebook to load train, val & test datasets

In [1]:
import datetime

from deep_rl_asset_allocation.configs import data_config
from deep_rl_asset_allocation.utils import data_loader_utils

In [2]:
djia_data_dict = data_loader_utils.get_train_val_test_djia_data()

Found prevouisly saved pre-processed data: /Users/akeaveny/git/deep-rl-asset-allocation/deep_rl_asset_allocation/data/csv/preprocessed_djia_data.csv

In [3]:
djia_data_dict["df_train"]

,date,tic,adjcp,open,high,low,volume,macd,rsi,cci,adx,turbulence
0,2009-01-02,AAPL,12.964286,12.268571,13.005714,12.165714,26641980.0,0.000000,100.000000,66.666667,100.000000,0.000000
0,2009-01-02,AXP,19.330000,18.570000,19.520000,18.400000,10955620.0,0.000000,100.000000,66.666667,100.000000,0.000000
0,2009-01-02,BA,45.250000,42.800000,45.560000,42.780000,7010171.0,0.000000,100.000000,66.666667,100.000000,0.000000
0,2009-01-02,CAT,46.910000,44.910000,46.980000,44.710000,7116726.0,0.000000,100.000000,66.666667,100.000000,0.000000
0,2009-01-02,CSCO,16.960000,16.410000,17.000000,16.250000,40977480.0,0.000000,100.000000,66.666667,100.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1696,2015-09-29,V,68.530000,67.520000,68.700000,67.200000,11276820.0,-0.627865,45.991067,-131.182660,28.956003,83.184772
1696,2015-09-29,VZ,43.530000,43.780000,44.000000,43.340000,15625390.0,-0.620568,40.061205,-126.246818,45.357674,83.184772
1696,2015-09-29,WBA,82.060000,82.750000,83.850000,81.450000,4477138.0,-1.502513,40.550726,-155.553208,35.046903,83.184772
1696,2015-09-29,WMT,63.780000,63.750000,64.040000,63.234000,7639949.0,-1.076587,38.717244,-66.914308,26.210981,83.184772
1696,2015-09-29,XOM,72.970000,72.650000,73.190000,72.140000,13746850.0,-0.719397,43.640287,-24.332556,26.086845,83.184772

In [4]:
djia_data_dict["df_val"]

,date,tic,adjcp,open,high,low,volume,macd,rsi,cci,adx,turbulence
0,2015-10-01,AAPL,109.58,109.07,109.620,107.3100,63849470.0,-0.852993,43.741538,-80.019569,42.095487,98.973618
0,2015-10-01,AXP,73.89,74.16,74.600,73.2100,4736708.0,-0.765425,43.987629,-102.730534,12.347738,98.973618
0,2015-10-01,BA,130.61,131.32,131.789,128.9801,2850888.0,-1.665138,43.719011,-40.016280,22.504215,98.973618
0,2015-10-01,CAT,64.39,65.63,66.100,63.6100,7932525.0,-3.038283,33.725771,-161.284225,48.356286,98.973618
0,2015-10-01,CSCO,25.73,26.05,26.155,25.5500,26906550.0,-0.236213,45.196888,3.908115,7.752677,98.973618
...,...,...,...,...,...,...,...,...,...,...,...,...
62,2015-12-30,V,78.35,79.07,79.190,78.2550,4230441.0,0.015663,52.136258,-17.876239,4.949222,76.230988
62,2015-12-30,VZ,46.77,47.20,47.200,46.6200,8969561.0,0.402066,54.649786,149.923275,24.237347,76.230988
62,2015-12-30,WBA,86.39,86.82,87.000,86.3400,2184620.0,0.646124,52.091521,164.400154,15.843621,76.230988
62,2015-12-30,WMT,61.68,61.66,61.870,61.4900,5715732.0,0.443640,52.438856,187.279921,28.656688,76.230988
62,2015-12-30,XOM,78.11,78.32,78.990,77.9700,9308398.0,-0.249376,48.531602,-18.049652,0.303439,76.230988

In [5]:
djia_data_dict["df_test"]

,date,tic,adjcp,open,high,low,volume,macd,rsi,cci,adx,turbulence
0,2016-01-04,AAPL,105.35,102.610,105.368,102.000,67569090.0,-2.666922,40.459283,-127.576136,46.711321,72.858044
0,2016-01-04,AXP,67.59,68.090,68.180,66.770,9228601.0,-0.688508,39.311317,-181.544020,36.166331,72.858044
0,2016-01-04,BA,140.50,141.380,141.700,139.430,5715585.0,-0.494141,46.514487,-168.034546,17.593904,72.858044
0,2016-01-04,CAT,67.99,66.880,68.085,65.720,8580361.0,-0.335863,46.572513,-45.571838,20.466959,72.858044
0,2016-01-04,CSCO,26.41,26.390,26.420,25.880,35761830.0,-0.059621,45.264609,-173.305180,27.839953,72.858044
...,...,...,...,...,...,...,...,...,...,...,...,...
1093,2020-05-07,V,182.72,181.750,184.980,181.710,9248662.0,3.180917,52.862113,153.426769,16.911879,171.473998
1093,2020-05-07,VZ,55.58,56.100,56.150,55.175,14082400.0,0.105854,47.786602,-37.833218,20.843196,171.473998
1093,2020-05-07,WBA,40.66,41.561,41.870,40.410,6891090.0,-0.906327,42.893461,-141.441281,15.334659,171.473998
1093,2020-05-07,WMT,121.89,123.460,123.980,121.500,9113105.0,0.677105,50.517752,-12.068788,3.394205,171.473998
1093,2020-05-07,XOM,44.24,44.960,45.270,43.970,22140980.0,0.719182,47.522596,70.697249,10.455307,171.473998